{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/css/front.css">
{% endblock %}
{% block content %}
<div class='container layout_width'>
	<div class='main_title'>이력서</div>
	<div class='info_box basic_info'>
		<div class='rows'>
			{% if profile %}
			<div class='box box1 profile'>
				<img src='{{ profile }}'>
			</div>
			{% endif %}
			<div class='box box2'>
				<div class='main_info'>
					<span class='t1'>{{ basicinfo.name }}</span>
					<span class='t2'>{{ basicinfo.gender }} {{ basicinfo.birthYear }}년 {{ basicinfo.age }}세</span>
				</div>
				<dl>
					<dt>휴대폰</dt>
					<dd>{{ basicinfo.cellPhone }}</dd>
				</dl>
				<dl>
					<dt>전화번호</dt>
					<dd>{{ basicinfo.landline }}</dd>
				</dl>	
				<dl>
					<dt>주소</dt>
					<dd>{{ basicinfo.address }}</dd>
				</dl>
			</div>
			<div class='box box3'>
				<dl>
					<dt>Email</dt>
					<dd>{{ basicinfo.email }}</dd>
				</dl>
			</div>
		</div>
		<!--// rows -->
	</div>
	
	<div class='sub_title'>학력</div>
</div>
<!--// container -->
{% endblock %}